.profile-page-container {
    color: var(--color-text, white);
    
    .topBackground {
        width: 100%;
        height: 300px;
        background: var(--color-base-bold, #121212);
        border-radius: 20px;
        position: relative;

        .banner-edit-button {
            border-radius: 10px;
            padding: 4px 15px;
            position: absolute;
            bottom: 20px;
            right: 50px;
        }
    }

    .banner-image {
        width: 100%;
        height: 300px;
        border-radius: 20px;
    }

    .avatarContainer {
        width: 100%;
        position: absolute;
        bottom: -20px;
        display: flex;
        justify-content: center;

        .avatar-camera-icon {
            position: relative;
            bottom: -88px;
            left: -17px;
            cursor: pointer;
        }
    }
    
    .userAvatar {
        border-radius: 100px;
        width: 100px;
        height: 100px;
        background-color: white;
    }
    
    .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        font-size: 20px;

        .address {
            background: var(--color-base-bold, #121212);
            border-radius: 40px;
            padding: 2px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;

            img {
                width: 20px;
                margin-right: 10px;
            }

            .publickey {
                font-size: 12px;
                padding-top: 3px;
                margin-right: 5px;
            }

            .eye-icon {
                cursor: pointer;
            }
        }
    }
    
    .follow {
        font-size: 13px;
        margin-top: 30px;
        display: flex;
    }
    
    .followSpan {
        display: flex;
        align-items: center;
    }
    
    .infoButtons {
        margin-top: 20px;
    }
    
    .editBtn {
        border-radius: 20px;
        margin-right: 10px;
        font-size: 13px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    
    .infoBtn {
        border-radius: 20px;
        margin-right: 10px;
        font-size: 12px;
    }
    
    .tabContainer {
        margin-top: 20px;
    }
    
    .ownedBtns {
        display: flex;
        justify-content: space-between;
    }
    
    .ownedBtn {
        border-radius: 20px;
        margin-right: 10px;
        font-size: 14px;
        position: relative;
        margin-bottom: 5px;
    }

    .leftOwnedBtn {
        width: 130px;
    }
    
    .ownedBtnSortSpan {
        position: absolute;
        font-size: 10px;
        top: -7px;
        left: 15px;
    }
    
    .ownedCardContainer {
        margin-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .ownedCard {
        border-radius: 10px;
    }
    
    .cardTop {
        display: flex;
        justify-content: space-between;
    }
    
    .cardImage {
        width: 30px;
        border-radius: 30px;
    }
    
    .cardContent {
        width: 100%;
        height: 200px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .cardFooterBottom {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }
    
    .cardFooterTitle {
        font-size: 14px;
        margin-bottom: 8px;
        font-weight: bold;
    }
    
    .cardFooterLetter {
        font-size: 12px;
    }
    
    .mlm10 {
        margin-left: -10px;
    }
    
    .mr20 {
        margin-right: 15px;
    }
    
    .infoIcon {
        margin-right: 5px;
    }
    
    .ownedBadge {
        font-size: 12px;
        margin-left: 10px;
        background: rgb(242,242,242);
        color: black;
        border-radius: 2px;
        padding: 2px;
    }
}
